In [17]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
#abrindo pagina do google
navegador = webdriver.Chrome()
navegador.get ('https://www.google.com/')
#pesquisando 'cotação dolar' e dando enter
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação dólar')
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
#armazenando o valor na variavel
cotacao_dolar = navegador.find_element(By.XPATH,'/html/body/div[7]/div/div[10]/div/div[2]/div[2]/div/div/div[1]/div/div/div/div/div/div/div[3]/div[1]/div[1]/div[2]/span[1]').get_attribute('data-value')

#pesquisando 'cotação euro' e dando enter
navegador.get('https://www.google.com/')
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação euro')
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
#armazenando o valor na variavel
cotacao_euro = navegador.find_element(By.XPATH,'/html/body/div[7]/div/div[10]/div/div[2]/div[2]/div/div/div[1]/div/div/div/div/div/div/div[3]/div[1]/div[1]/div[2]/span[1]').get_attribute('data-value')

#ollhando cotação do ouro
navegador.get('https://www.melhorcambio.com/ouro-hoje')
#armazenando na variavel
cotacao_ouro = navegador.find_element(By.XPATH, '//*[@id="comercial"]').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(',','.')

#fecha o navegador
navegador.quit()

print(cotacao_ouro)
print(cotacao_dolar)
print(cotacao_euro)

302.76
5.2399
5.3365

In [18]:
import pandas as pd
tabela = pd.read_excel('Produtos.xlsx')

tabela.loc[tabela['Moeda'] == 'Dólar', 'Cotação'] = float(cotacao_dolar)
tabela.loc[tabela['Moeda'] == 'Euro', 'Cotação'] = float(cotacao_euro)
tabela.loc[tabela['Moeda'] == 'Ouro', 'Cotação'] = float(cotacao_ouro)

tabela['Preço de Compra'] = tabela['Preço Original']*tabela['Cotação']
tabela['Preço de Venda'] = tabela['Preço de Compra']*tabela['Margem']

tabela.to_excel('Produtos Novos.xlsx', index=False)
#display(tabela)

In [19]:
import pandas as pd
tabela_nova = pd.read_excel('Produtos Novos.xlsx')
display(tabela_nova)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.2399,5239.847601,1.40,7335.786641
1,Carro Renault,4500.00,Euro,5.3365,24014.250000,2.00,48028.500000
2,Notebook Dell,899.99,Dólar,5.2399,4715.857601,1.70,8016.957922
3,IPhone,799.00,Dólar,5.2399,4186.680100,1.70,7117.356170
4,Carro Fiat,3000.00,Euro,5.3365,16009.500000,1.90,30418.050000
5,Celular Xiaomi,480.48,Dólar,5.2399,2517.667152,2.00,5035.334304
6,Joia 20g,20.00,Ouro,302.7600,6055.200000,1.15,6963.480000